<th:block th:fragment="gnb">
  <div id="gnb">
    <aside id="nav_btn">
      <div class="btn_box">
        <div class="webapp_cover">
          <div class="menu_button">
            <input type="checkbox" id="menu_checkbox">
            <label for="menu_checkbox" id="menu_label">
              <div id="menu_text_bar"></div>
            </label>
          </div>
        </div>
      </div>
    </aside>
    <nav>
      <div class="nav_box">
        <div class="deco">...</div>
        <div class="nav_list">
          <div class="btn_box"></div>
          <ul class="menu_list">
            <li>
              <h3><a href="#">내 프로필</a></h3>
            </li>
            <li>
              <h3><a href="#">산길 정보</a></h3>
            </li>
            <li>
              <h3><a href="#">산길 추천</a></h3>
              <span></span>
              <ul class="menu_sublist">
                <li><a href="#">100대 명산</a></li>
                <li><a href="#">오늘의 산 추천</a></li>
                <li><a href="#">지금 인기 있는 산</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">커뮤니티</a></h3>
              <span></span>
              <ul class="menu_sublist">
                <li><a href="#">등산 일지</a></li>
                <li><a href="#">동호회 모집</a></li>
                <li><a href="#">문의하기</a></li>
              </ul>
            </li>
          </ul>
          <h3>LOGO</h3>
        </div>
        <div class="deco">...</div>
      </div>
    </nav>
  </div>
</th:block>