<!DOCTYPE html>
<html id="root"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="main(
        title,          <!--/* title */-->
        <!--/* external */-->
        styles,
        scripts,
        <!--/* internal */-->
        style,
        script,
        <!--/*--------------------------*/-->
        header,            <!--/* header */-->
        gnb,               <!--/* gnb */-->
        searchMenu,        <!--/* searchMenu */-->
        main,              <!--/* main */-->
        footer             <!--/* footer */-->
      )"

      th:with="s_id=${session?.loginMember?.id},
               s_nickname=${session?.loginMember?.nickname},
               s_loc=${session?.loginMember?.loc},
               s_gubun=${session?.loginMember?.gubun}"

      th:data-s-id="${s_id}"
      th:data-s-nickname="${s_nickname}"
      th:data-s-loc="${s_loc}"
      th:data-s-gubun="${s_gubun}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--common style-->
  <link rel="stylesheet" href="./css/common.css">
  <link rel="icon" href="./img/fcon_96.png">
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>

  <th:block th:replace="${styles}"/>
  <th:block th:replace="${scripts}"/>

  <th:block th:replace="${style}"/>
  <th:block th:replace="${script}"/>

  <title th:replace=${title}>제목</title>
</head>
<body>
  <div class="wrap">
    <div id="header" th:insert="${header}"/>
    <div id="gnb" th:insert="${gnb}"/>
    <div id="searchMenu" th:insert="${searchMenu}"/>
    <div id="content" th:insert="${main}"/>
    <div id="foot" th:replace="fragment/footer :: footer"/>
  </div>
</body>
</html>
