<th:block th:fragment="main">
  <main>
    <section id="main_sec">
      <div></div>
      <h2>H!KERS</h2>
      <p>Lorem Ipsum </p>
    </section>
    <section id="wea_sec">
      <ul>
        <li class="wea_info">
          <div>weather1</div>
          <ul>
            <li>weather2</li>
            <li>weather3</li>
            <li>weather4</li>
            <li>weather5</li>
          </ul>
        </li>
        <li class="fire_info">
          <div>fire1</div>
        </li>
      </ul>
    </section>
    <section id="reco_sec">
      <ul>
        <li>
          <div>
            <span>100대 명산</span>
            <span>→</span>
          </div>
        </li>
        <li>
          <div>
            <span>오늘의 산 추천</span>
            <span>→</span>
          </div>
        </li>
        <li>
          <div>
            <span>지금 인기있는 산</span>
            <span>→</span>
          </div>
        </li>
      </ul>
    </section>
    <section id="review_sec">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">Slide 01</li>
            <li class="splide__slide">Slide 02</li>
            <li class="splide__slide">Slide 03</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</th:block>