<th:block th:fragment="searchMenu">
  <aside id="search_menu">
    <div class="menu-wrapper">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="search_wrap">
      <div class="box_cont">
        <div class="search_box">
          <div class="search_window">
            <input type="text" placeholder="검색어를 입력하세요!"><span class="search_list_btn">지역으로 선택하기</span><i class="fa-solid fa-magnifying-glass search_btn"></i>
          </div>
        </div>
        <div class="region_box">
          <ul class="region_list">
            <li><a href="#">서울</a></li>
            <li><a href="#">부산</a></li>
            <li><a href="#">대구</a></li>
            <li><a href="#">인천</a></li>
            <li><a href="#">광주</a></li>
            <li><a href="#">대전</a></li>
            <li><a href="#">울산</a></li>
            <li><a href="#">세종</a></li>
            <li><a href="#">경기</a></li>
            <li><a href="#">충북</a></li>
            <li><a href="#">충남</a></li>
            <li><a href="#">강원</a></li>
            <li><a href="#">경북</a></li>
            <li><a href="#">경남</a></li>
            <li><a href="#">전북</a></li>
            <li><a href="#">전남</a></li>
            <li><a href="#">제주</a></li>
            <li><a href="#">내 지역</a></li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
</th:block>