<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       <!--/* title */-->
      <!--/*--------------------------*/-->
      <!--/* external */-->
      ~{},              <!--/* styles */-->
      ~{},              <!--/* scripts */-->
      <!--/* internal */-->
      ~{},              <!--/* style */-->
      ~{},              <!--/* script */-->
      <!--/*--------------------------*/-->
      ~{::.top},      <!--/* header */-->
      ~{::.navi},         <!--/* gnb */-->
      ~{::.search},  <!--/* searchMenu */-->
      ~{::main},        <!--/* main */-->
      ~{::.foot},       <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>제목 채우기</title>
</head>
<body>
  <div class="wrap">
    <div class="top" th:insert="~{fragment/header::beforeLoginHeader}"/>
    </div>
    <div class="navi" th:insert="~{fragment/gnb::gnb}">
    </div>
    <div class="search" th:insert="~{fragment/searchMenu::searchMenu}">
    </div>
    <div id="content">
      <main>
        본문 채우기
      </main>
    </div>
    <div id="foot" th:insert="~{fragment/footer::footer}">
    </div>
  </div>
</body>
</html>
