<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       <!--/* title */-->
      <!--/*--------------------------*/-->
      <!--/* external */-->
      ~{},              <!--/* styles */-->
      ~{},              <!--/* scripts */-->
      <!--/* internal */-->
      ~{},              <!--/* style */-->
      ~{},              <!--/* script */-->
      <!--/*--------------------------*/-->
      ~{::.topmenu},    <!--/* upm */-->
      ~{::.head },      <!--/* header */-->
      ~{::.gnb},         <!--/* gnb */-->
      ~{::main},        <!--/* main */-->
      ~{::.foot},       <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H!KERS</title>
</head>
<body>
<div class="wrap">
  <div id="tl"></div>
  <div id="tc">
    <div class="topmenu" th:insert="~{fragment/top::afterLoginTop}"/>
  </div>
  <div id="tr"></div>
  <div id="banner">
    <header class="head" th:insert="~{fragment/banner::global}"/>
  </div>
  <div id="gnb">
    <nav class="gnb" th:insert="~{fragment/menu::global}"/>
  </div>
  <div id="content">
    <header>
      <h1><a href="#">H!KERS</a></h1>
      <ul class="header_list">
        <li><a href="/members/login">로그인</a></li>
        <li><a href="/members/join">회원가입</a></li>
      </ul>
    </header>
    <aside id="nav_btn">
      <div class="btn_box">
        <div class="webapp_cover">
          <div class="menu_button">
            <input type="checkbox" id="menu_checkbox">
            <label for="menu_checkbox" id="menu_label">
              <div id="menu_text_bar"></div>
            </label>
          </div>
        </div>
      </div>
    </aside>
    <nav>
      <div class="nav_box">
        <div class="deco">...</div>
        <div class="nav_list">
          <div class="btn_box"></div>
          <ul class="menu_list">
            <li>
              <h3><a href="/members/profile">내 프로필</a></h3>
            </li>
            <li>
              <h3><a href="#">산길 정보</a></h3>
            </li>
            <li>
              <h3><a href="#">산길 추천</a></h3>
              <span></span>
              <ul class="menu_sublist">
                <li><a href="#">100대 명산</a></li>
                <li><a href="#">오늘의 산 추천</a></li>
                <li><a href="#">지금 인기 있는 산</a></li>
              </ul>
            </li>
            <li>
              <h3><a href="#">커뮤니티</a></h3>
              <span></span>
              <ul class="menu_sublist">
                <li><a href="#">등산 일지</a></li>
                <li><a href="#">동호회 모집</a></li>
                <li><a href="#">문의하기</a></li>
              </ul>
            </li>
          </ul>
          <h3>LOGO</h3>
        </div>
        <div class="deco">...</div>
      </div>
    </nav>
    <aside id="search_menu">
      <div class="menu-wrapper">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="search_wrap">
        <div class="box_cont">
          <div class="search_box">
            <div class="search_window">
              <input type="text" placeholder="검색어를 입력하세요!"><span class="search_list_btn">지역으로 선택하기</span><i class="fa-solid fa-magnifying-glass search_btn"></i>
            </div>
          </div>
          <div class="region_box">
            <ul class="region_list">
              <li><a href="#">서울</a></li>
              <li><a href="#">부산</a></li>
              <li><a href="#">대구</a></li>
              <li><a href="#">인천</a></li>
              <li><a href="#">광주</a></li>
              <li><a href="#">대전</a></li>
              <li><a href="#">울산</a></li>
              <li><a href="#">세종</a></li>
              <li><a href="#">경기</a></li>
              <li><a href="#">충북</a></li>
              <li><a href="#">충남</a></li>
              <li><a href="#">강원</a></li>
              <li><a href="#">경북</a></li>
              <li><a href="#">경남</a></li>
              <li><a href="#">전북</a></li>
              <li><a href="#">전남</a></li>
              <li><a href="#">제주</a></li>
              <li><a href="#">내 지역</a></li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    <main>
      <section id="main_sec">
        <div></div>
        <h2>H!KERS</h2>
        <p>Lorem Ipsum </p>
      </section>
      <section id="wea_sec">
        <ul>
          <li class="wea_info">
            <div>weather1</div>
            <ul>
              <li>weather2</li>
              <li>weather3</li>
              <li>weather4</li>
              <li>weather5</li>
            </ul>
          </li>
          <li class="fire_info">
            <div>fire1</div>
          </li>
        </ul>
      </section>
      <section id="reco_sec">
        <ul>
          <li>
            <div>
              <span>100대 명산</span>
              <span>→</span>
            </div>
          </li>
          <li>
            <div>
              <span>오늘의 산 추천</span>
              <span>→</span>
            </div>
          </li>
          <li>
            <div>
              <span>지금 인기있는 산</span>
              <span>→</span>
            </div>
          </li>
        </ul>
      </section>
      <section id="review_sec">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">Slide 01</li>
              <li class="splide__slide">Slide 02</li>
              <li class="splide__slide">Slide 03</li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div>footer</div>
    </footer>
  </div>
  <div id="foot">
    <footer class="foot" th:insert="~{fragment/footer::global}"/>
  </div>
</div>
</body>
</html>