<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="icon" href="./img/hiking.png">
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"/>
  <title>H!KERS</title>
</head>
<body>
<!-- 로그인된 경우 -->
<th:block th:if="${session.loginMember}">
  <p th:text="${session.loginMember.nickname}"></p>
  <ul>
    <li><a href="#" id="logout">로그아웃</a></li>
    <li><a th:href="@{'/members/profile?id=' + ${session.loginMember.id}}" class="prof_btn">내 프로필</a></li>
  </ul>
</th:block>

<!-- 로그인되지 않은 경우 -->
<th:block th:unless="${session.loginMember}">
  <div>
    <ul>
      <li><a href="members/login">로그인</a></li>
      <li><a href="members/join">회원가입</a></li>
    </ul>
  </div>
</th:block>

<!-- Thymeleaf를 사용하여 세션 정보를 JavaScript 변수에 할당 -->
<script th:inline="javascript">
  /*<![CDATA[*/
    var loginMember = /*[[${session.loginMember}]]*/ null;
  /*]]>*/
</script>

<!-- 로그아웃 버튼 클릭 시 처리하는 JavaScript -->
<script>
  const $logout = document.getElementById('logout');
  $logout.addEventListener('click', evt => {
    evt.preventDefault();
    fetch('members/logout', { method:'POST', body:null })
      .then(res => res.text())
      .then(res => {
        if (res === 'OK') {
          location.href = '/';
        }
      })
      .catch(console.log);
  });
</script>
</body>
</html>
